
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgb(253, 143, 0);
    overflow: auto;
    
}

li a {
    background-color: rgb(247, 142, 6);
    display: block;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
h1{
    font-family: "Tektur", sans-serif;
      font-optical-sizing: auto;

}



li a.activo {
    background-color: rgba(161, 89, 6, 0.685);
    color: aliceblue;
}

li a.activo:hover:not(.activo) { 
    background-color: blueviolet;
    color: lightblue;
}

@font-face{
    font-family: "Parrafos";
    src: url("Big_Shoulders_Inline/BigShouldersInline-VariableFont_opsz,wght.ttf")  format("truetype");

}

p{
    font-family: "parrafos";
}
